      <nav class="py-0 navbar navbar-expand-lg bg-white navbar-light  fixed-top" aria-expanded="false" role="menubar">
         <!-- Brand -->
        <a role="link" href="/" class="navbar-brand py-0"> <img src="{{ site.baseurl }}/assets/sobharoyalpavilion/images/logo-new.png" alt="Sobha Rajvilas logo" width="75" height="100" > </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler mr-3" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse p-3" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#overview" class="nav-link">Overview</a>
            </li>
            <li class="nav-item">
              <a href="#amenities" class="nav-link">Amenities</a>
            </li>
            <li class="nav-item">
              <a href="#gallery" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="#floorplan" class="nav-link">Floor Plan</a>
            </li>
            <li class="nav-item">
              <a href="#masterplan" class="nav-link">Master Plan</a>
            </li>
             <li class="nav-item">
              <a href="#location" class="nav-link">Location</a>
            </li>
             <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
