

.navbar {
  min-height: 100px;
}

.navbar-brand {
  /*padding: 0 15px;*/
  height: 100px;
  /*line-height: 80px;*/
}
#wrapper {
  /*margin-top: 100px;*/
}
#home-banner {
	background: transparent url('http://sobharajvilas.org.in/assets/images/rajpavillion-banner.jpg') no-repeat left center !important;
	background-size: auto;
  background-image: url('/assets/sobharoyalpavilion/images/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 65%; /* (img-height / img-width * width) */
              /* (853 / 1280 * 100) */
}

.formContainer {

@media only screen and (min-width : 1200px) {

 margin-top: -400px !important;

}

/*//tablet landscape*/
@media screen and (min-width: 1024px) and (max-width: 1600px)  {
margin-top: -600px !important;
}/*//tablet portrait*/
@media screen and (min-width: 768px) and (max-width: 1023px)  {
margin-top: -350px !important;
}

/*//smartphone landscape*/
@media screen and (min-width: 480px) and (max-width: 767px)  {
margin-top: -320px !important;

}

/*//smartphone portrait*/
@media screen /*and (min-width: 320px)*/
and (max-width: 479px) {
margin-top: -10px !important;
}


}
.imageContainer {
  width:100%; 
  height: auto; 
  background-image: url('/assets/sobharoyalpavilion/images/banner.jpg');
  padding-top: 65%;

 
}

.inner-div {
  position: absolute;
}
/*#logo-container {
    width: 50px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: red;
}*/
#amenities-banner {
  background-color: rgb(243,223,145); 

  /*background: transparent url('/assets/sobharoyalpavilion/images/ameneties/amenities-bg.png') no-repeat left top !important;  */
  /*background-size: auto;  */
}

.text-yellow {
  color:  rgb(243,223,145);
}
:target {
  display: block;
  position: relative;
  top: -100px; 
  visibility: hidden;
}
/*.container-fluid{
  section:before {
    height: 80px;
    content: "";
    display:block;
  }
 }*/

 .navbar-nav a{
/*    color: white !important;
*/    
  font-size: 1rem !important;
  font-weight: bold;
}
 .footer {
 a {
 color: white;
 }
 }